h4,
h5,
h6,
h1,
h2,
h3 {
    margin: 0;
}

ul,
ol {
    margin: 0;
}

p {
    margin: 0;
}

html,
body {
    font-family: 'Hind', sans-serif;
    font-size: 100%;
    background: #fff;
}

a {
    text-decoration: none;
}

a:hover {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    text-decoration: none;
}

.header {
    padding: 1em 0em;
    background: rgba(234, 87, 45, 0.65);
}

.top-nav {
    float: left;
    width: 65%;
}

.navbar-brand {
    padding: 0px;
    margin-right: 1em;
}

.navbar-default {
    background: none;
    border: none;
}

.header-right {
    float: right;
    width: 30%;
}

.head-signin {
    float: right;
    width: 50%;
    margin-top: 0.8em;
}

.head-signin h5 {
    font-size: 1.7em;
    font-family: 'Oswald', sans-serif;
}

.head-signin h5 a {
    color: #000;
}

.head-signin i.hd-dign {
    background: url(../images/signin.png)no-repeat;
    width: 30px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}

ul.nav.navbar-nav li a {
    font-size: 1.7em;
    color: #000;
    font-family: 'Oswald', sans-serif;
}

ul.nav.navbar-nav li a:hover {
    background: #847057;
    color: #fff;
}

nav.navbar.navbar-default {
    margin-bottom: 0px;
}

.content {
    width: 100%;
}

.content h1 {
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
}

.content h2 {
    font-weight: 400;
    text-transform: uppercase;
    color: #333;
    margin: 0 0 20px;
}

.content p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0 0 20px;
}

.content p:last-child {
    margin: 0;
}

.content a.button {
    display: inline-block;
    padding: 10px 20px;
    background: #ff0;
    color: #000;
    text-decoration: none;
}

.content a.button:hover {
    background: #000;
    color: #ff0;
}

.content.title {
    position: relative;
    background: #333;
}

.item_add {
    color: #000;
    border: none;
}

a.item_add {
    text-decoration: none;
}

.banner {
    min-height: 620px;
    background: #fff;
}

.banner-main {
    padding: 4em 0em 3em 0em;
}

.banner-right {
    padding-top: 5em;
}

.banner-right h1 {
    font-size: 2.5em;
    color: #EA572D;
    margin: 0.3em 0em 0.5em 0em;
    font-family: 'Oswald', sans-serif;
}

span.bann-heart {
    background: url(../images/like.png)no-repeat 9px 8px;
    width: 50px;
    height: 50px;
    display: block;
    border: 2px solid #fff;
    margin-bottom: 2em;
}

.banner-right h2 {
    font-size: 1.4em;
    color: #847057;
    font-family: 'Oswald', sans-serif;
}

.banner-right h5 {
    font-size: 1em;
    color: #333;
}

.banner-right ul.bann-btns {
    padding: 0em;
    list-style: none;
    margin-top: 1em;
}

.banner-right ul.bann-btns li {
    display: inline-block;
    margin-right: 0.7em;
}

.banner-right h6 {
    font-size: 1em;
    color: #EA572D;
    margin-top: 1.3em;
}

select.bann-size {
    background: url(../images/arrow.png)no-repeat 88% 50%;
    width: 100%;
    padding: 0.8em 2.5em 0.8em 1em;
    border: 1px solid #0D0D0D;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    color: #0D0D0D;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    font-family: 'Oswald', sans-serif;
    box-shadow: 0px 0px 1px 0px rgba(204, 204, 204, 0.85);
}

ul.bann-btns li a {
    font-size: 1em;
    color: #fff;
    padding: 0.83em 1.3em;
    background: #847057;
    display: block;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

ul.bann-btns li a:hover {
    background: #EA572D;
}

.home-product-main {
    position: relative;
    box-shadow: 0px 0px 1px 1px #ccc;
    margin-bottom: 3em;
}

.home-grid:hover .home-product-bottom {
    background: #EA572D;
}

.home-grid:hover .home-product-bottom h3 a {
    color: #fff;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.home-grid:hover .home-product-bottom p {
    color: #fff;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.home-grid:hover .home-product-main {
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.home-grid:hover .srch {
    display: block;
}

.srch {
    display: none;
    position: absolute;
    top: 18%;
    right: -1px;
}

.srch span {
    background: #EA572D;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 25px;
    border-radius: 18px 2px 16px 2px;
}

.home-product-bottom {
    padding: 1em 1.5em;
    background: #847057;
    box-shadow: 0px 0px 1px 0px rgba(204, 204, 204, 0.78);
}

.home-product-bottom h3 {
    font-size: 1.5em;
    margin-bottom: 0.2em;
    font-family: 'Oswald', sans-serif;
}

.home-product-bottom h3 a {
    color: #fff;
}

.home-product-bottom p {
    font-size: 1em;
    color: #fff;
}

.footer {
    background: #000;
    padding: 3em 0em;
}

.copy-rights {
    text-align: center;
    margin-top: 3em;
}

.copy-rights p {
    font-size: 1em;
    color: #fff;
}

.copy-rights p a {
    color: #fff;
}

.copy-rights p a:hover {
    color: #EA572D;
}

.product {
    padding: 6em 0em;
}

.w_sidebar h3 {
    padding: 0 20px 10px;
    font-size: 1em;
    color: #555555;
    text-transform: uppercase;
}

.sky-form {
    margin-bottom: 25px;
    background: #fff;
    box-shadow: 1px 1px 1px 1px rgba(210, 210, 210, 0.75);
}

.row1 {
    outline: none;
    padding: 20px;
    overflow: auto;
    height: 400px;
}

.row1 select {
    width: 200px;
}

.row2 {
    height: 175px;
}

.sky-form h1 {
    background: #847057;
    padding: 15px 20px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

.sky-form h2 {
    background: #847057;
    padding: 15px 20px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

.sky-form h4 {
    background: #847057;
    padding: 15px 20px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

.sky-form section {
    margin-bottom: 20px;
}

.sky-form .input,
.sky-form .select,
.sky-form .button {
    position: relative;
    display: block;
}

.sky-form .select i {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 1px;
    height: 11px;
    background: #fff;
    box-shadow: 0 0 0 12px #fff;
}

.sky-form .select i:after,
.sky-form .select i:before {
    content: '';
    position: absolute;
    right: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.sky-form .select i:after {
    bottom: 0;
    border-top: 4px solid #404040;
}

.sky-form .select i:before {
    top: 0;
    border-bottom: 4px solid #404040;
}

.sky-form [class^="icon-"] {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.sky-form .input input,
.sky-form .select select {
    border-color: #e5e5e5;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}

.sky-form .input:hover input,
.sky-form .select:hover select {
    border-color: #EA572D;
}

.sky-form .button:hover {
    opacity: 1;
}

.sky-form .input input:focus,
.sky-form .select select:focus {
    border-color: #EA572D;
}

.single {
    padding: 6em 0em;
}

.single-top-left h2 {
    font-size: 1.1em;
    color: #847057;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0.6em;
}

.single-top-left h1 {
    font-size: 1.6em;
    color: #EA572D;
    margin-bottom: 0.5em;
    font-family: 'Oswald', sans-serif;
}

.single-top-left h3 {
    font-size: 1.6em;
    color: #EA572D;
    margin-bottom: 0.5em;
    font-family: 'Oswald', sans-serif;
}

.single-top-left h6 {
    font-size: 1em;
    color: #000;
    margin: 1.2em 0em;
    font-family: 'Oswald', sans-serif;
}

.single-top-left p {
    font-size: 1em;
    color: #7E7E7E;
    width: 85%;
    line-height: 1.8em;
}

.single-top-left {
    padding-left: 3em;
}

.single-top-left ul {
    padding: 0px;
    list-style: none;
}

.single-top-left ul li {
    display: inline-block;
    margin-right: 0.8em;
}

.single-top-left h4 {
    font-size: 1em;
    color: #545454;
    margin: 0.8em 0em;
}

.singlepage-product {
    padding-top: 6em;
}

.thumb-image {
    width: 350px;
    margin: 0 auto;
    text-align: center;
}

.thumb-image>img {
    width: 100%;
}

.signin {
    padding: 6em 0em;
}

.signin-main h1 {
    font-size: 2em;
    color: #EA572D;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.signin-main h2 {
    font-size: 1.5em;
    color: #847057;
    margin: 1em 0em;
    font-family: 'Oswald', sans-serif;
}

.signin-main input[type="text"] {
    font-size: 1em;
    color: #000;
    width: 48%;
    padding: 0.4em 0.5em;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin: 0em 2.5em 1em 0em;
}

.signin-main input.no-margin {
    margin: 0px;
}

.signin-main input[type="password"] {
    font-size: 1em;
    color: #000;
    width: 48%;
    padding: 0.4em 0.5em;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin: 1em 2.5em 2em 0em;
}

.signin-main input.no-margin {
    margin: 0px;
}

.signin-main input[type="submit"] {
    font-size: 1em;
    color: #fff;
    padding: 0.6em 1em;
    background: #EA552B;
    border: none;
    outline: none;
    float: right;
    margin-top: 2em;
}

.signin-main input[type="submit"]:hover {
    background: #847057;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.login {
    padding: 6em 0em;
}

.login-main h1 {
    font-size: 2.5em;
    color: #EA572D;
    margin-bottom: 1.4em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.login-left h2 {
    font-size: 1.5em;
    color: #847057;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1em;
}

.login-left input[type="text"] {
    font-size: 1em;
    color: #999;
    padding: 0.5em 1em;
    border-bottom: 1px solid #ccc;
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 1.5em;
    outline: none;
    width: 100%;
}

.login-left input[type="password"] {
    font-size: 1em;
    color: #ccc;
    padding: 0.5em 1em;
    border-bottom: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 100%;
    margin-bottom: 1em;
}

.login-left input[type="submit"] {
    font-size: 1em;
    color: #fff;
    padding: 0.5em 1.5em;
    border: none;
    background: #EA572D;
    outline: none;
    display: block;
    margin-top: 1em;
}

.login-left input[type="submit"]:hover {
    background: #847057;
}

.login-right h3 {
    font-size: 1.5em;
    color: #847057;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1em;
}

.login-right p {
    font-size: 1em;
    line-height: 1.8em;
    color: #999;
    margin-bottom: 1em;
}

.login-right a {
    font-size: 1em;
    color: #fff;
    background: #EA572D;
    padding: 0.5em 1em;
    display: block;
    width: 30%;
    text-align: center;
    margin: 2em 0em 0em 0em;
}

.login-right a:hover {
    background: #847057;
}

.page {
    padding: 4em 0em 4em 0em;
}

@media(max-width:1600px) {}

@media(max-width:1440px) {}

@media(max-width:1366px) {}

@media(max-width:1280px) {}

@media(max-width:1024px) {
    .banner-right {
        padding-top: 2em;
    }
    .thumb-image {
        width: 285px;
    }
    .single-top-left p {
        font-size: 0.93em;
        width: 100%;
    }
    .single-top-left {
        padding-left: 1em;
    }
    .login-right a {
        width: 40%;
    }
    .signin-main input[type="text"] {
        width: 47.5%;
    }
    .signin-main input[type="password"] {
        width: 47.5%;
    }
    ul.bann-btns li a {
        padding: 0.83em 1em;
    }
    .home-product-bottom h3 {
        font-size: 1.2em;
    }
}

@media(max-width:991px) {
    .top-nav {
        width: 62%;
    }
    .header-right {
        width: 35%;
    }
    .home-product-main {
        float: left;
        width: 47%;
        margin-right: 1em;
    }
    .signin-main input[type="text"] {
        margin: 0em 2em 1em 0em;
        width: 47%;
    }
    .signin-main input[type="password"] {
        margin: 1em 2em 2em 0em;
        width: 47%;
    }
    .signin-main input.no-margin {
        margin: 0px;
    }
}

@media(max-width:800px) {
    .nav>li>a {
        padding: 10px 10px;
    }
    .header-right {
        width: 42%;
    }
    .banner-left {
        float: left;
        width: 50%;
    }
    .banner-right {
        float: right;
        width: 50%;
        padding-top: 0em;
    }
    .banner-right h1 {
        font-size: 1.8em;
    }
    span.bann-heart {
        margin-bottom: 0.5em;
    }
    .banner {
        min-height: 470px;
    }
    .banner-right h2 {
        font-size: 1.1em;
    }
    .banner-right h6 {
        margin-top: 1em;
    }
    .home-product-main {
        float: left;
        width: 47%;
        margin-right: 1em;
        margin-bottom: 2em;
    }
    .product {
        padding: 3em 0em;
    }
    .prdt-right {
        margin-bottom: 4em;
    }
    .product-block {
        padding: 0px;
    }
    .single {
        padding: 4em 0em;
    }
    .singlepage-product {
        padding-top: 4em;
    }
    .home-product-top {
        margin: 0 auto;
        width: 75%;
    }
    .login-left {
        margin-bottom: 2em;
    }
    .login-main h1 {
        margin-bottom: 1em;
    }
    .login {
        padding: 4em 0em;
    }
    .signin {
        padding: 4em 0em;
    }
    .top-nav {
        width: 55%;
    }
    .single-top-left {
        padding-top: 1em;
        padding-left: 0em;
    }
    .page {
        margin: 2em 0;
    }
}

@media(max-width:765px) {
    .navbar-toggle {
        float: none;
        margin-top: 8px;
        margin-right: 0px;
    }
    .navbar-header {
        text-align: center;
    }
    .navbar-default .navbar-toggle {
        border: none;
        background: #847057;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background: #847057;
    }
}

@media(max-width:640px) {
    .top-nav {
        width: 35%;
    }
    ul.nav.navbar-nav li a {
        text-align: center;
    }
    .navbar-default .navbar-collapse {
        border: none;
    }
    .header-right {
        width: 50%;
    }
    .signin-main input[type="text"] {
        width: 46%;
    }
    .signin-main input[type="password"] {
        width: 46%;
    }
    .prdt-right {
        margin-bottom: 2em;
    }
    .singlepage-product {
        padding-top: 2em;
    }
    .single {
        padding: 2em 0em;
    }
    .footer {
        padding: 2em 0em;
    }
    .login {
        padding: 2em 0em;
    }
    .page {
        margin: 2em 0;
    }
}

@media(max-width:480px) {
    .banner-left img {
        width: 75%;
        margin: 0 auto;
    }
    .home-product-bottom h3 {
        font-size: 1em;
    }
    .navbar-toggle {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .header-right {
        width: 65%;
    }
    .banner-left {
        float: none;
        width: 100%;
    }
    .banner-right {
        float: none;
        width: 100%;
        margin-top: 2em;
    }
    .banner-main {
        padding: 2em 0em 3em 0em;
    }
    .home-product-main {
        width: 48%;
        margin-right: 0.5em;
        margin-bottom: 1em;
    }
    .footer {
        padding: 2em 0em;
    }
    .copy-rights {
        margin-top: 2em;
    }
    .product {
        padding: 2em 0em;
    }
    .prdt-right {
        margin-bottom: 2em;
    }
    .single-top-left h1 {
        font-size: 1.2em;
    }
    .single-top-left h3 {
        font-size: 1.2em;
    }
    .singlepage-product {
        padding-top: 2em;
    }
    .login {
        padding: 2em 0em;
    }
    .login-main h1 {
        margin-bottom: 0.5em;
        font-size: 2em;
    }
    .login-right a {
        font-size: 1em;
        padding: 0.5em 0.5em;
    }
    .signin-main input[type="text"] {
        width: 100%;
        margin: 0em 0em 1em 0em;
    }
    .signin-main input[type="password"] {
        width: 100%;
        margin: 0em 0em 1em 0em;
    }
    .signin-main input[type="submit"] {
        margin-top: 1em;
    }
    .signin {
        padding: 2.5em 0em;
    }
    .home-grid {
        padding: 0px;
    }
}

@media(max-width:414px) {
    .home-product-bottom {
        padding: 1em 1em;
    }
    .home-product-main {
        width: 47%;
    }
    .login-right a {
        width: 50%;
    }
}

@media(max-width:384px) {
    .header-right {
        width: 100%;
        float: left;
    }
    .top-nav {
        width: 100%;
        float: none;
    }
    .navbar-toggle {
        float: right;
    }
    .navbar-brand.logo img {
        width: 85%;
    }
    .navbar-toggle {
        margin-top: 8px;
    }
    .head-signin {
        width: 35%;
    }
    .navbar-brand {
        height: 0px;
    }
}

@media(max-width:320px) {
    .logo {
        width: 15%;
        float: left;
        height: 0px;
    }
    .navbar {
        position: relative;
        min-height: 40px;
    }
    .navbar-header {
        text-align: right;
    }
    .logo img {
        width: 100%;
    }
    .banner-right h1 {
        font-size: 1.5em;
    }
    .navbar-toggle {
        margin-top: 0px
    }
    ul.bann-btns li a {
        padding: 0.55em 1em;
        font-size: 0.8em;
    }
    select.bann-size {
        padding: 0.5em 3.5em 0.5em 1em;
        font-size: 12px;
    }
    .banner-right.simpleCart_shelfItem {
        padding: 0px;
    }
    .banner-main {
        padding: 1em 0em 2em 0em;
    }
    .srch span {
        font-size: 12px;
        padding: 4px 10px;
    }
    .home-product-bottom h3 {
        font-size: 1em;
    }
    .home-product-bottom p {
        font-size: 0.8em;
        margin-top: 0.3em;
    }
    .footer {
        padding: 1em 0em;
    }
    .home-product-bottom {
        padding: 1em 0.5em;
    }
    .home-product-main {
        width: 47%;
        margin-right: 0.5em;
        margin-bottom: 0.7em;
    }
    .copy-rights p {
        font-size: 0.8em;
    }
    .copy-rights {
        margin-top: 1em;
    }
    .prdt-right {
        margin-bottom: 1em;
        padding: 0px;
    }
    .product {
        padding: 1em 0em;
    }
    .sky-form {
        margin-bottom: 15px;
    }
    .sky-form h1 {
        font-size: 13px;
    }
    .sky-form h2 {
        font-size: 13px;
    }
    .sky-form h4 {
        font-size: 13px;
    }
    .single-top {
        padding: 0px;
    }
    .single-top-left {
        padding: 0px;
    }
    .single {
        padding: 1em 0em;
    }
    .single-top {
        margin-left: 4%;
        width: 100% !important;
    }
    .login {
        padding: 1em 0em;
    }
    .login-left {
        padding: 0px;
    }
    .login-main h1 {
        font-size: 1.5em;
    }
    .login-left h2 {
        font-size: 1em;
        margin-bottom: 0.5em;
    }
    .login-left input[type="text"] {
        font-size: 0.8em;
        margin-bottom: 0.5em;
    }
    .login-left input[type="password"] {
        font-size: 0.8em;
        margin-bottom: 0.5em;
    }
    .login-left input[type="submit"] {
        font-size: 0.8em;
        padding: 0.5em 1em;
        margin-top: 0.8em;
    }
    .login-right h3 {
        font-size: 1em;
        margin-bottom: 0.5em;
    }
    .login-right {
        padding: 0px;
    }
    .login-right a {
        font-size: 0.85em;
        padding: 0.5em 0.5em;
        margin: 1em 0em 0em 0em;
        width: 45%;
    }
    .login-right p {
        font-size: 0.8em;
    }
    .login-left {
        margin-bottom: 1em;
    }
    .signin {
        padding: 1em 0em;
    }
    .signin-main h1 {
        font-size: 1.2em;
    }
    .signin-main h2 {
        font-size: 1em;
        margin: 0.6em 0em;
    }
    .signin-main input[type="text"] {
        width: 100%;
        margin: 0em 0em 0.5em 0em;
        font-size: 0.9em;
    }
    .signin-main input[type="password"] {
        font-size: 0.8em;
    }
    .signin-main input[type="submit"] {
        margin-top: 0.5em;
        font-size: 0.9em;
        padding: 0.3em 1em;
    }
    .page {
        padding: 0 0 1em;
    }
}